<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>372493705048-tn8g1pu9miorqf6du9nrfil19ds59a5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.372493705048-tn8g1pu9miorqf6du9nrfil19ds59a5s</string>
	<key>API_KEY</key>
	<string>AIzaSyAKHenJGwddpYFQ041DQMsc1MbNJzWcuCY</string>
	<key>GCM_SENDER_ID</key>
	<string>372493705048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newchat</string>
	<key>PROJECT_ID</key>
	<string>newchat-d5126</string>
	<key>STORAGE_BUCKET</key>
	<string>newchat-d5126.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:372493705048:ios:1e35379a416c0ed18b4f2d</string>
</dict>
</plist>